DATABASE_URL="Your database URL here, e.g., postgresql://user:password@host:port/dbname?sslmode=require&channel_binding=require"

CLOUDINARY_URL="Your Cloudinary URL here, e.g., cloudinary://api_key:api_secret@cloud_name"

SECRET_KEY="Your Django secret key here, e.g., django-insecure-39=9o6m1@r9g!fyae7e+9ufvds0m$464w9_99j&7m$vd!0*uoe"