# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Local settings / secrets
.env
.env.*
local_settings.py

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp